*{
	margin: 0;
	padding: 0;
	user-select: none;
	color: black;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.sidebar{
	position: fixed;
	width: 250px;
	height: 100%;
	left: 0;
	background: #C9C8C8;
}
.sidebar .text{
	color: white;
	font-size: 25px;
	font-weight: 600;
	line-height: 65px;
	text-align: center;
	background: #C9C8C8;
	letter-spacing: 1px;
}
nav ul{
	background: #C9C8C8;
	height: 100%;
	width: 100%;
	list-style: none;
}
nav ul li{
	line-height: 60px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li a{
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding-left: 40px;
	font-weight: 500;
	display: block;
	width: 100%;
	border-left: 3px solid transparent;
}
nav ul li a:hover{
	color: #7C7A7A;
	background: #C9C8C8;
	border-left-color: #7C7A7A;
}
nav ul ul{
	position: static;
	display: none;
}

nav ul ul li{
	line-height: 42px;
	border-bottom: none;
}

nav ul ul li a{
	font-size: 17px;
	color: #e6e6e6;
	padding-left: 80px;
}

nav ul li a span{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 22px;
	transition: transform 0.4s;
}

nav ul li a:hover span{
	transform: translateY(-50%) rotate(-180deg);
}

.contato1{
  position: absolute;
  width: 328px;
  height: 59px;
  left: 1000px;
  top: 36px;
  background: #D9D9D9;
  border-radius: 20px 20px 0px 0px;
}

.contato1 .text{
  text-align: center;
}

.retangulo1{
  position: absolute;
  width: 1100px;
  height: 119px;
  right: 10px;
  top: 80px;
  background: #D9D9D9;
  border-radius: 20px;
}

.retangulo2{
  position: absolute;
  width: 228px;
  height: 103px;
  left: 20px;
  top: 10px;
  background: #7C7A7A;
  border-radius: 20px;
}

.retangulo3{
  position: absolute;
  width: 196px;
  height: 103px;
  left: 0px;
  top: 0px;
  background: white;
  border-radius: 20px;
}

.retangulo3 .text{
  text-align: left;
  font-size: 10px;
  padding-left: 12px;
}

.retangulo4{
  position: absolute;
  width: 228px;
  height: 103px;
  left: 270px;
  top: 10px;
  background: #7C7A7A;
  border-radius: 20px;
}
.retangulo5{
  position: absolute;
  width: 196px;
  height: 103px;
  left: 0px;
  top: 0px;
  background: white;
  border-radius: 20px;
}

.retangulo5 .text{
  text-align: left;
  font-size: 8.7px;
  padding-left: 12px;
  padding-top: 8px;
}

.retangulo6{
  position: absolute;
  width: 228px;
  height: 103px;
  left: 530px;
  top: 10px;
  background: #7C7A7A;
  border-radius: 20px;
}

.retangulo7{
  position: absolute;
  width: 196px;
  height: 103px;
  left: 0px;
  top: 0px;
  background: white;
  border-radius: 20px;
}

.retangulo7 .text{
  text-align: left;
  font-size: 8.7px;
  padding-left: 12px;
  padding-top: 8px;
}

.retangulo8{
  position: absolute;
  width: 228px;
  height: 103px;
  left: 790px;
  top: 10px;

  background: #7C7A7A;
  border-radius: 20px;
}
.retangulo9{
  position: absolute;
  width: 196px;
  height: 103px;
  left: 0px;
  top: 0px;
  background: white;
  border-radius: 20px;
}

.retangulo9 .text{
  text-align: left;
  font-size: 8.7px;
  padding-left: 12px;
  padding-top: 8px;
}

.retangulo_grande{
  position: absolute;
  width: 1100px;
  height: 400px;
  right: 10px;
  top: 230px;
  background: #D9D9D9;
  border-radius: 20px;
}
.retangulo_grande .local_t1{
  left: 15px;
  top: 15px;
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}
.retangulo_grande .local_t2{
  left: 300px;
  top: 15px;
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}
.retangulo_grande .local_t3{
  left: 580px;
  top: 15px;
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}
.retangulo_grande .local_t4{
  left: 870px;
  top: 15px;
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}
.linha_titulo{
  position: absolute;
  width: 1100px;
  height: 0px;
  left: 0px;
  top: 40px;
  border: 2px solid #7C7A7A;
}

.retangulo_verde{
  position: absolute;
  width: 228px;
  height: 103px;
  left: 10px;
  top: 15px;
  background: #038800;
  border-radius: 20px;
}

.retangulo_verde_branco{
  position: absolute;
  width: 196px;
  height: 103px;
  left: 0px;
  top: 0px;
  background: white;
  border-radius: 20px;
}

.retangulo_verde_branco .text2{
  text-align: left;
  font-size: 8.7px;
  padding-left: 12px;
  padding-top: 8px;
}

.linha_vertical1{
  position: absolute;
  width: 400px;
  height: 0px;
  left: 60px;
  top: 198px;
  border: 2px solid #7C7A7A;
  transform: rotate(90deg);
}

.linha_vertical2{
  position: absolute;
  width: 400px;
  height: 0px;
  left: 350px;
  top: 198px;
  border: 2px solid #7C7A7A;
  transform: rotate(90deg);
}
.linha_vertical3{
  position: absolute;
  width: 400px;
  height: 0px;
  left: 650px;
  top: 198px;
  border: 2px solid #7C7A7A;
  transform: rotate(90deg);
}

.retangulo_vermelho{
  position: absolute;
  width: 228px;
  height: 103px;
  left: 270px;
  top: 15px;
  background: #E60202;
  border-radius: 20px;
}
.retanguloBDV{
  position: absolute;
  width: 196px;
  height: 103px;
  left: -1px;
  top: 0px;
  background: white;
  border-radius: 20px;
}

.retanguloBDV .text2{
  text-align: left;
  font-size: 8.7px;
  padding-left: 12px;
  padding-top: 8px;
}

.retangulo_amarelo{
  position: absolute;
  width: 228px;
  height: 103px;
  left: 271px;
  top: 125px;
  background: #F9E004;
  border-radius: 20px;
}

.retanguloBDA{
  position: absolute;
  width: 196px;
  height: 103px;
  left: -1px;
  top: 0px;
  background: white;
  border-radius: 20px;
}
.retanguloBDA .text2{
  text-align: left;
  font-size: 8.7px;
  padding-left: 12px;
  padding-top: 8px;
}

.retangulo_verde2{
  position: absolute;
  width: 228px;
  height: 103px;
  left: 271px;
  top: 235px;
  background: #038800;
  border-radius: 20px;
}
.retanguloBDV2{
  position: absolute;
  width: 196px;
  height: 103px;
  left: -1px;
  top: 0px;
  background: white;
  border-radius: 20px;
}
.retanguloBDV2 .text2{
  text-align: left;
  font-size: 8.7px;
  padding-left: 12px;
  padding-top: 8px;
}
.retangulo_amarelo2{
  position: absolute;
  width: 228px;
  height: 103px;
  left: 560px;
  top: 15px;
  background: #F9E004;
  border-radius: 20px;
}
.retanguloBDA2{
  position: absolute;
  width: 196px;
  height: 103px;
  left: -1px;
  top: 0px;
  background: white;
  border-radius: 20px;
}
.retanguloBDA2 .text2{
  text-align: left;
  font-size: 8.7px;
  padding-left: 12px;
  padding-top: 8px;
}
.retangulo_verde3{
  position: absolute;
  width: 228px;
  height: 103px;
  left: 560px;
  top: 126px;
  background: #038800;
  border-radius: 20px;
}
.retangulo_vermelho2{
  position: absolute;
  width: 227px;
  height: 103px;
  left: 860px;
  top: 15px;

  background: #E60202;
  border-radius: 20px;
}
.retanguloBDV3{
  position: absolute;
  width: 196px;
  height: 103px;
  left: -1px;
  top: 0px;
  background: white;
  border-radius: 20px;
}
.retanguloBDV3 .text2{
  text-align: left;
  font-size: 8.7px;
  padding-left: 12px;
  padding-top: 8px;
}
.retangulo_verde4{
  position: absolute;
  width: 228px;
  height: 103px;
  left: 860px;
  top: 126px;

  background: #038800;
  border-radius: 20px;
}